<nav class="top-bar" data-topbar>
  <!-- Brand and toggle get grouped for better mobile display -->
  <ul class="title-area">
    <li class="name">
      <div class="left">
        <%= link_to root_path do %>
          <div class="nav-logo rotate"></div>
          <h1>DCYPAA 2015</h1>
        <% end %>
      </div>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="">
        <span></span>
      </a>
    </li>
  </ul>
  
  <section class="top-bar-section">
    <ul class="right">
      <li class="divider"></li>
      <li>
        <%= link_to "About Us", info_path %>
      </li>
      <li class="divider"></li>
      <li>
        <%= link_to "Events", upcoming_path %>
      </li>
      <li class="divider"></li>
      <li>
        <a href="#" data-reveal-id="modal_registration">
          <p>Register</p>
        </a>
      </li>
      <li class="divider"></li>
      <!-- <li>
        <a href="/hotel/">
          <p>Hotel Info</p>
        </a>
      </li> -->
      <li>
        <%= link_to "Related Links", links_path %>
      </li>
    </ul>
  </section>
  
</nav>