<%= content_for :title, 'Convention Registration' %>
<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h1 class="text-center">REGISTRATION</h1>

    <%= render 'form' %>

    <%= link_to 'Back to Home', root_path, :class => "small radius info button left" %>
  </div>
</div>
