<%= content_for(:title, "Edit Event #{@event.id}" ) %>
<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h1 class="text-center">EDIT EVENT <%= @event.id %></h1>

    <%= render 'form' %>

  </div>
</div>
