<%= content_for(:title, "Create New Event") %>
<div class="row">
  <div class="medium-8 medium-offset-2 columns">
    <h1 class="text-center">NEW EVENT</h1>

    <%= render 'form' %>

    <%= link_to 'Back', events_path %>
  </div>
</div>

